[submodule "thermostats"]
	path = thermostats
	url = https://github.com/aswansyahputra/thermostats.git
[submodule "sensehub"]
	path = sensehub
	url = https://github.com/aswansyahputra/sensehub.git
[submodule "databank"]
	path = databank
	url = https://github.com/aswansyahputra/databank.git
