[submodule "sensehub_rancang"]
	path = sensehub_rancang
	url = https://github.com/aswansyahputra/sensehub_rancang.git
[submodule "sensehub_analisa"]
	path = sensehub_analisa
	url = https://github.com/aswansyahputra/sensehub_analisa.git